.AjouterProduit{
    position: absolute;
    width: 90%;
    height: 60%;
    top: 40%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    -moz-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    -o-transform: translateY(-50%) translateX(-50%);
}


.AjouterProduit-Line{
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
}

.AjouterProduit-Line > input{
    width: 35%;
}

.AjouterProduit-Line input,.AjouterProduit-Line > textarea,.AjouterProduit-Line select{
    margin-right: 2%;
    height: 2.7em;
    font-size: 1.2em;
    border: 2px solid var(--Gray);
    padding-left: .7em;
    border-radius: .4em;
    -webkit-border-radius: .4em;
    -moz-border-radius: .4em;
    -ms-border-radius: .4em;
    -o-border-radius: .4em;
}
.AjouterProduit-Line div{
    width: 40%;

}
.AjouterProduit-Line > textarea{
    width: 40%;
    height: 6.4em;
}
.AjouterProduit-Button{
    height: 2.7em;
    width: 15%;
    font-family: 'Inter-Bold';
    transition: all .2s ease;
    font-size: 1.2em;
    border: 2px solid var(--Green);
    background-color: var(--Green);
    color: var(--White);
    padding-left: .7em;
    padding-right: .7em;
    border-radius: .4em;
    -webkit-border-radius: .4em;
    -moz-border-radius: .4em;
    -ms-border-radius: .4em;
    -o-border-radius: .4em;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
}

.AjouterProduit-Button:hover{
    background-color: var(--White);
    color: var(--Green);

}

.AjouterProduit-Line:last-child{
    justify-content: center;
}
