.AjouterClient{
    position: absolute;
    width: 90%;
    height: 60%;
    top: 40%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    -moz-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    -o-transform: translateY(-50%) translateX(-50%);
}

#AjouterClient-zone{
    width: 4em;
    text-align: center;
    padding-left: 0em;
}

.AjouterClient-Line{
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
}

.AjouterClient-Line > input{
    width: 25%;
}

.AjouterClient-Line input,.AjouterClient-Line > textarea{
    margin-right: 2%;
    height: 2.7em;
    font-size: 1.2em;
    border: 2px solid var(--Gray);
    padding-left: .7em;
    border-radius: .4em;
    -webkit-border-radius: .4em;
    -moz-border-radius: .4em;
    -ms-border-radius: .4em;
    -o-border-radius: .4em;
}
.AjouterClient-Line div{
    width: 40%;

}
.AjouterClient-Line > textarea{
    width: 40%;
    height: 6.4em;
}
.AjouterClient-Button{
    height: 2.7em;
    width: 10em;
    font-family: 'Inter-Bold';
    transition: all .2s ease;
    font-size: 1.2em;
    border: 2px solid var(--Green);
    background-color: var(--Green);
    color: var(--White);
    padding-left: .7em;
    padding-right: .7em;
    border-radius: .4em;
    -webkit-border-radius: .4em;
    -moz-border-radius: .4em;
    -ms-border-radius: .4em;
    -o-border-radius: .4em;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
}

.AjouterClient-Button:hover{
    background-color: var(--White);
    color: var(--Green);

}

.AjouterClient-Line:last-child{
    justify-content: center;
}


@media screen and (max-width:766px) {
    .AjouterClient-Line{
        flex-direction: column;
        align-items: center;
    }
    .AjouterClient-Line > div{
        width: 100%;
        margin: 1em;
    }
    .AjouterClient-Line > input,.AjouterClient-Line > textarea{
        width: 100%;
    }
}